[Unit]
Description=Service for HGG Viewer app
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=1
User=tobias
WorkingDirectory=/home/tobias/HGGViewer
ExecStart=/usr/bin/pipenv run gunicorn app:app -b 0.0.0.0:7000

[Install]
WantedBy=multi-user.target
