{% extends "master.html" %}
{% block title %}Cookie-Einstellungen{% endblock %}
{% block other_heading %}
    <style type="text/css">
        .mobileShow {
            display: none;
        }

        /* Smartphone Portrait and Landscape */
        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
            .mobileShow {
                display: inline;
            }
        }

        .mobileHide {
            display: inline;
        }

        /* Smartphone Portrait and Landscape */
        @media only screen
        and (min-device-width: 320px)
        and (max-device-width: 480px) {
            .mobileHide {
                display: none;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 30px">
        <h1>Cookie-Einstellungen</h1>
        <p>Wir benutzen Cookies, damit du nicht jedes mal deine Klasse aussuchen musst. Wir benutzen auch Matamo um mehr
            über das Verhalten unserer Nutzer zu lernen. Du kannst deine Auswahl jederzeit hier Ändern. <a href="{{ url_for("privacy") }}">Mehr info</a></p>
        <button class="button button-outline mobileHide" onclick="decline_cookies()">
            Keine
            Cookies (Jedes mal neu Klasse aussuchen)
        </button>
        <button class="button button-outline mobileShow" style="height: 80px"
                onclick="decline_cookies()">Keine Cookies <br>(Jedes mal neu Klasse
            aussuchen)
        </button>
        <button class="button mobileHide" onclick="accept_cookies()">OK, mir doch egal</button>
        <button class="button mobileShow" style="height: 80px" onclick="accept_cookies()">
            OK, mir doch egal
        </button>
        <br>

    </div>
    <script>
    function accept_cookies() {
        location.href = '{{ url_for('cookies_accept') }}'
    }
    
    function decline_cookies() {
        window['ga-disable-UA-164284397-4'] = true;
         location.href = '{{ url_for('cookies_decline') }}'
    }
    </script>
{% endblock %}
