{% extends "master.html" %}
{% block title %}HGG-Plan | Ein besserer Vertretungsplan{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 50px">
        <h1>Ein besserer Vertretungsplan</h1>
        <p>Ist dir der normale Vertretungsplan des HGGs zu unübersichtlich? Dann bist du hier richtig! Alle Pläne auf
            einen
            blick, mobil-freundlich und automatisch für deine Klasse.</p>
        <button onclick="location.href = '{{ url_for('cookies') }}'">Los geht's</button>
    </div>
{% endblock %}
