{% extends "master.html" %}
{% block title %}Klasse auswählen{% endblock %}
{% block body %}
    <div class="container" style="padding-top: 30px">
        <h1>Wähle deine Klasse aus.</h1>
        <h2 style="color: red">Cookies sind aus. Deine auswahl wird nicht gespeichert. <a
                href="{{ url_for('cookies') }}">Einstellungen
            ändern</a></h2>
        <form action="/plan/nocookies/view/" method="get">
            <select id="class" class="select_class" name="selected_class">
                {% for available_class in available_classes %}
                    <option value="{{ available_class }}" class="select_class">{{ available_class }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Los geht's">

        </form>
    </div>
{% endblock %}
